Repository rapidsai/ucx-py, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/ucxpy-python-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
ucp/            @rapidsai/ucxpy-python-codeowners
tests/          @rapidsai/ucxpy-python-codeowners
examples/       @rapidsai/ucxpy-python-codeowners
benchmarks/     @rapidsai/ucxpy-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

test with https://github.com/rapidsai/rapids-build-backend/pull/41
  ci/build_python.sh
  ci/build_wheel.sh
  conda/recipes/ucx-py/meta.yaml
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

move other dependencies down to rapids-build-backend's table
  dependencies.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

wheel, not install
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

fix pip wheel invocation
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

get better logs
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

fix pip wheel invocation
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

re-enable wheel tests
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

move cudf dependency
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

use rapids-build-backend packages
  ci/build_python.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

re-enable conda builds
  .github/workflows/pr.yaml
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/builddocs.yml
  conda/recipes/ucx-py/meta.yaml
  setup.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

remove unused readthedocs workflow
  .github/workflows/rtd.yml
Owners: @rapidsai/ci-codeowners

fix data-gathering in conda recipe
  conda/recipes/ucx-py/meta.yaml
Owners: @rapidsai/packaging-codeowners
